.test.data-v-e20d2364{display:flex!important;height:100px!important;width:222.222px!important;align-items:center!important;justify-content:center!important;border-radius:40px!important;background-color:rgba(18, 52, 86, var(--tw-bg-opacity, 1))!important;--tw-bg-opacity: .54 !important;text-align:center!important;--tw-text-opacity: 1 !important;color:rgba(255, 255, 255, var(--tw-text-opacity, 1))!important}
